:root {
  --cDisplayLength: 30vh;
  background-color: #242424;
  --btn-color: #0000007a;
  --accent-color: #7024ff;
  
  height: 100vh;
  overflow: hidden;
}
.debug * {
  outline: 1px solid rgba(35, 255, 1, 0.551);
}
#root {
   height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* grid layout */
#gridWrap {
  margin: auto;
  display: grid;
  gap: 1em;
  grid-template-areas:
    ". a ."
    "b c d"
    ". e .";

  * {
    gap: 0.5em;
  }
  #clearBtns {
    grid-area: a;
  }
  #undoStack {
    grid-area: b;
  }
  #canvasContainer {
    grid-area: c;
  }
  #displayToggles {
    grid-area: d;
  }
  #brushSettings {
    grid-area: e;
    display: grid;
    gap: 1em;

    grid-template-areas:
      "- b"
      "- b"
      "o o";
    #eraserToggle {
      grid-area: b;
    }
    #revealSecret {
      grid-area: o;
    }
  }
  > section {
    display: flex;
    flex-direction: column;
  }
}
.brushSizeDisplay {
  width: 2em;
  display: inline-block;
}
#canvasContainer {
  position: relative;
  border: 2px gray solid;
  width: var(--cDisplayLength);
  min-width: 100px;
  min-height: 100px;
  aspect-ratio: 1;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    image-rendering: pixelated;
    width: 100%;
    min-width: 100px;
    min-height: 100px;
    aspect-ratio: 1;

    touch-action: none;

    user-select: none;
    -webkit-touch-callout: none;
  }
}
#undosWrap {
  background-color: var(--btn-color);
  display: flex;
  flex-direction: column;
  border-radius: 8%;
  padding: 0.6em;
  gap: 0;
  button {
    border-radius: 4%;
    padding: 0;
  }
}

#clearBtns {
  display: flex;
  #clearBtnsWrap {
    align-self: flex-end;
  }
}

/* todo add this to undo redo too?????*/
.btnGroup {
  &.row {
    button:first-child {
      border-radius: 10px 0 0 10px;
    }
    button:last-child {
      border-radius: 0 10px 10px 0;
    }
    button {
      border-radius: 0;
    }
    button:not(:first-child) {
      border-left: solid grey 2px;
    }
  }

  button:is(:disabled) {
    background-color: color-mix(in srgb, var(--btn-color) 50%, grey 50%);
  }
}

#revealSecret {
  background-color: #0000003f;
  color: #ffffff3f;
  cursor: col-resize;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em;
  font-size: 1em;
  font-weight: 500;
  background-color: var(--btn-color);
  transition: border-color 0.1s;
}
button:not(:disabled) {
  cursor: pointer;
}
button:not(:disabled):hover {
  background-color: color-mix(in srgb, var(--btn-color) 50%, white 50%);
}
hr {
  width: 100%;
}
