#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  image-rendering: pixelated;
}
#canvasContainer {
  position: relative;
  border: 2px gray solid;
}
#toolbar {
  display: flex;
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
